<ng-container *transloco="let t">
  <form [formGroup]="loginForm" (ngSubmit)="loginUser(loginForm.value)">
    <h3>{{t('account.login')}}</h3>
    <div class="dx-fieldset">
      <div class="dx-field">
        <div class="dx-field-label">{{t('account.email')}}:</div>
        <div class="dx-field-value">
          <input type="text" id="email" formControlName="email" class="form-control" />
        </div>
      </div>
      <div class="dx-field">
        <div class="dx-field-label">{{t('account.password')}}:</div>
        <div class="dx-field-value">
          <input type="password" id="password" formControlName="password" class="form-control" />
        </div>
      </div>
      <div *ngIf="errorMessage" style="color: red;">Incorrect email address or password</div>
    </div>
    <dx-validation-summary id="summary"></dx-validation-summary>
      <dx-button width="100%" id="button" [text]="t('account.login')" type="default" [useSubmitBehavior]="true"></dx-button>
  </form>
</ng-container>
