<ng-container *transloco="let t">
  <div class="border rounded mt-5 mb-5 border-right">
    <div class="row">
      <div class="col-md-3">
        <div class="d-flex flex-column align-items-center text-center p-3 py-5">
          <img *ngIf='!isPictureNull' class="rounded-circle mt-5" width="150px" src="{{this.datasource.profilePicture}}" alt="profile">
          <img *ngIf='isPictureNull' class="rounded-circle mt-5" width="150px" src="assets\picture\profilePictureNull.jpg">
          <br/>
          <span class="font-weight-bold">{{datasource.name}} {{datasource.sureName}}</span><span
            class="text-white-50">{{datasource.email}}</span><span> </span>
          </div>

        <div class="mt-2 text-center"><dx-button displayExpr="label" [text]="t('action.selectPicture')"
            [routerLink]="'/profile-picture'"></dx-button></div>
        <div class="mt-2 text-center"><dx-button displayExpr="label" [text]="t('action.editProfile')"
            [routerLink]="'/profile-edit'"></dx-button></div>
        <div class="mt-2 text-center"><dx-button displayExpr="label" [text]="t('action.restart')"
            [routerLink]="'/restart-password'"></dx-button></div>
        <br />
      </div>
      <div class="col-md-5 border-right">
        <div class="p-3 py-5">
          <div class="d-flex justify-content-between align-items-center mb-3">
            <h4 class="text-right">{{t('account.profile')}}</h4>
          </div>
          <div class="dx-fieldset">
            <div class="dx-field">
              {{t('account.name')}}: {{datasource.name}}
            </div>
            <div class="dx-field">
              {{t('account.sureName')}}: {{datasource.sureName}}
            </div>
            <div class="dx-field">
              {{t('account.phone')}}: {{datasource.phone}}
            </div>
            <div class="dx-field">
              {{t('account.nationality')}}: {{datasource.nationality}}
            </div>
            <div class="dx-field">
              {{t('account.dateOfBirth')}}: {{datasource.dateOfBirth}}
            </div>
          </div>


        </div>
      </div>
      <div class="col-md-4">
        <div class="p-3 py-5">
          <div class="d-flex justify-content-between align-items-center mb-3">
            <h4 class="text-right">{{t('account.description')}}</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container>