<ng-container *transloco="let t">
  <div class="container rounded bg-white mt-5 mb-5">
    <div class="row">
        <div class="col-md-3">
            <div class="d-flex flex-column align-items-center text-center p-3 py-5">
              <img *ngIf='!isPictureNull' class="rounded-circle mt-5" width="150px" src="https://localhost:7257/Images/{{datasource.profilePicture}}" alt="profile">
              <img *ngIf='isPictureNull' class="rounded-circle mt-5" width="150px" src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg">
              <span class="font-weight-bold">{{datasource.name}} {{datasource.sureName}}</span><span class="text-black-50">{{datasource.email}}</span><span> </span></div>
           
            <div class="mt-2 text-center"><dx-button displayExpr="label" [text]="t('actionAccount.selectPicture')"  [routerLink]="'/profile-picture'"></dx-button></div>
            <div class="mt-2 text-center"><dx-button displayExpr="label" [text]="t('actionAccount.edit')"  [routerLink]="'/profile-edit'"></dx-button></div>
            <div class="mt-2 text-center"><dx-button displayExpr="label" [text]="t('actionAccount.restart')"  [routerLink]="'/restart-password'"></dx-button></div>
            <br/>

        </div>
        <div class="col-md-5 border-right">
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h4 class="text-right">{{t('account.profile')}}</h4>
                </div>
                <div class="dx-fieldset">
                  <div class="dx-field">
                      {{t('account.name')}}: {{datasource.name}}
                    </div>
                    <div class="dx-field">
                      {{t('account.sureName')}}: {{datasource.sureName}}
                    </div>
                    <div class="dx-field">
                      {{t('account.phone')}}: {{datasource.phone}}
                    </div>
                    <div class="dx-field">
                      {{t('account.nationality')}}: {{datasource.nationality}}
                    </div>
                    <div class="dx-field">
                      {{t('account.dateOfBirth')}}:  {{datasource.dateOfBirth}}
                    </div>
                </div>

               
            </div>
        </div>
        <div class="col-md-4">
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h4 class="text-right">{{t('account.description')}}</h4>
                </div>
            </div>
        </div>
    </div>
  </div>
</ng-container>


