$dx-theme: 'light' !default;
@use 'src/styles/variables' as vars;

:host ::ng-deep dx-data-grid .dx-datagrid-header-panel,
:host ::ng-deep dx-data-grid .dx-datagrid-header-panel .dx-toolbar {
  background-color: darken(vars.$base-element-bg, 4%);
}

:host .grid-container {
  flex-grow: 1;
  overflow: hidden;

  dx-data-grid {
    display: block;
    height: 100%;
    min-width: 100%;

    ::ng-deep .dx-row td {
      user-select: none;
    }

    ::ng-deep .col-actions {
      padding-top: 0;
      padding-bottom: 0;

      .dx-icon {
        font-size: 1.2em;
      }
    }
  }
}
