:host {
  display: flex;
  flex-direction: column;
  width: 100%;
}

tess-main-toolbar {
  height: 38px;
  flex-basis: 38px;
}

#main-drawer {
  flex-grow: 1;
  overflow: auto;
  height: auto;
}

:host ::ng-deep .dx-drawer-shrink .dx-drawer-panel-content {
  overflow: hidden;
  box-shadow: 3px 3px 5px -2px rgba(0, 0, 0, 0.2);
  z-index: 100;
}
