<ng-container *transloco="let t">
  <form (ngSubmit)="uploadPictures(file.files)">
    <h3>{{t('action.selectPicture')}}</h3>
    <div class="dx-field">
      <input #file type="file" id="pictureForm" accept=".jpg,.png,.gif" />
    </div>
    <p *ngIf="successMessage">{{ successMessage }}</p>
    <dx-button [text]="t('action.back')" type="normal" [routerLink]="['/profile']"></dx-button>
    <dx-button class="button" [text]="t('action.upload')" type="success" [useSubmitBehavior]="true"></dx-button>
  </form>
</ng-container>