<div class="center">
  <ng-container *transloco="let t">
    <br />
    <dx-toolbar>
        <dxi-item location="before">
            <h1 style="font-weight: bold">{{t('action.editVehicle')}}</h1>
        </dxi-item>
    </dx-toolbar>
      <form [formGroup]="editForm" (ngSubmit)="editVehicle(editForm.value)">
        <div class="row">
          <div class="column">
            <div class="dx-field">
              <div class="dx-field-label">{{t('vehicle.producer')}}</div>
              <div class="dx-field-value">
                <select id="producer" formControlName="producer" [value]="producerValue" class="form-control">
                  <option *ngFor="let producer of enumProducer"  [value]="producer">{{ producer }}</option>
                </select>
              </div>
            </div>
        
            <div class="dx-field">
              <div class="dx-field-label">{{t('vehicle.modelSpecifer')}}</div>
              <div class="dx-field-value">
                <input type="text" id="modelSpecifer" formControlName="modelSpecifer" [value]="modelSpeciferValue" class="form-control" />
              </div>
            </div>
        
            <div class="dx-field">
              <div class="dx-field-label">{{t('vehicle.modelGeneration')}}</div>
              <div class="dx-field-value">
                <input type="text" id="modelGeneration" formControlName="modelGeneration" [value]="modelGenerationValue" class="form-control" />
              </div>
            </div>
        
            <div class="dx-field">
              <div class="dx-field-label">{{t('vehicle.registrationYear')}}</div>
              <div class="dx-field-value">
                <input type="number" id="registrationYear" formControlName="registrationYear" [value]="registrationYearValue" class="form-control" />
              </div>
            </div>
        
            <div class="dx-field">
              <div class="dx-field-label">{{t('vehicle.color')}}</div>
              <div class="dx-field-value">
                <input type="text" id="color" formControlName="color" [value]="colorValue" class="form-control" />
              </div>
            </div>

            <div class="dx-field">
              <div class="dx-field-label">{{t('vehicle.auction')}}</div>
              <div class="dx-field-value">
                <input type="number" id="auction" formControlName="auction" [value]="auctionValue" class="form-control" />
              </div>
            </div>
        
            <div class="dx-field">
              <div class="dx-field-label">{{t('vehicle.bodyType')}}</div>
              <div class="dx-field-value">
                <select id="bodyType" formControlName="bodyType" [value]="bodyTypeValue" class="form-control">
                  <option *ngFor="let bodyCar of enumBodyCar"  [value]="bodyCar">{{ bodyCar }}</option>
                </select>
              </div>
            </div>
            
            <div class="dx-field">
              <div class="dx-field-label">{{t('vehicle.transmission')}}</div>
              <div class="dx-field-value">
                <select id="transmission" formControlName="transmission" [value]="transmissionValue" class="form-control" >
                  <option *ngFor="let transmission of enumTransmission"  [value]="transmission">{{ transmission }}</option>
                </select>
              </div>
            </div>
        
            <div class="dx-field">
              <div class="dx-field-label">{{t('vehicle.drive')}}</div>
              <div class="dx-field-value">
                <select id="drive" formControlName="drive" [value]="driveValue" class="form-control"  >
                  <option *ngFor="let drive of enumDrive" [value]="drive">{{ drive }}</option>
                </select>
              </div>
            </div>
            
            <div class="dx-field">
              <div class="dx-field-label">{{t('vehicle.meterReadout')}}</div>
              <div class="dx-field-value">
                <input type="number" id="meterReadout" formControlName="meterReadout" [value]="meterReadoutValue" class="form-control" />
              </div>
            </div>
    
            <div class="dx-field">
              <div class="dx-field-label">{{t('vehicle.fuel')}}</div>
              <div class="dx-field-value">
                <select id="fuel" formControlName="fuel" [value]="fuelValue" class="form-control" >
                  <option *ngFor="let fuel of enumFuel"  [value]="fuel">{{ fuel }}</option>
                </select>
              </div>
            </div>
          </div>
          
          <div class="column">
           
        
            <div class="dx-field">
              <div class="dx-field-label">{{t('vehicle.primaryDamage')}}</div>
              <div class="dx-field-value">
                <select id="primaryDamage" formControlName="primaryDamage" [value]="primaryDamageValue" class="form-control" >
                  <option *ngFor="let damage of enumPrimaryDamage"  [value]="damage">{{ damage }}</option>
                </select>
              </div>
            </div>
    
            <div class="dx-field">
              <div class="dx-field-label">{{t('vehicle.secondaryDamage')}}</div>
              <div class="dx-field-value">
                <select id="secondaryDamage" formControlName="secondaryDamage" [value]="secondaryDamageValue" class="form-control" >
                  <option *ngFor="let damage of enumSecondaryDamage"  [value]="damage">{{ damage }}</option>
                </select>
              </div>
            </div>
    
            <div class="dx-field">
              <div class="dx-field-label">{{t('vehicle.engineCapacity')}}</div>
              <div class="dx-field-value">
                <input type="number" id="engineCapacity" formControlName="engineCapacity" [value]="engineCapacityValue" class="form-control" />
              </div>
            </div>
        
            <div class="dx-field">
              <div class="dx-field-label">{{t('vehicle.engineOutput')}}</div>
              <div class="dx-field-value">
                <input type="number" id="engineOutput" formControlName="engineOutput" [value]="engineOutputValue" class="form-control" />
              </div>
            </div>
        
            <div class="dx-field">
              <div class="dx-field-label">{{t('vehicle.numberKeys')}}</div>
              <div class="dx-field-value">
                <input type="number" id="numberKeys" formControlName="numberKeys" [value]="numberKeysValue" class="form-control" />
              </div>
            </div>

            <div class="dx-field">
              <div class="dx-field-label">{{t('vehicle.serviceManual')}}</div>
              <div class="dx-field-value">
                <select id="serviceManual" formControlName="serviceManual" [value]="serviceManualValue" class="form-control" >
                  <option value="true">True</option>
                  <option value="false">False</option>
                </select>
              </div>
            </div>
            <div class="dx-field">
              <div class="dx-field-label">{{t('vehicle.secondTireSet')}}</div>
              <div class="dx-field-value">
                <select id="secondTireSet" formControlName="secondTireSet" [value]="secondTireSetValue" class="form-control">
                  <option value="true">True</option>
                  <option  value="false">False</option>
                </select>
              </div>
            </div>
            <div class="dx-field">
              <div class="dx-field-label">{{t('vehicle.vin')}}</div>
              <div class="dx-field-value">
                <input type="text" id="VIN" formControlName="VIN" [value]="VINValue" class="form-control" />
              </div>
            </div>
            <div class="dx-field">
              <div class="dx-field-label">{{t('vehicle.saleTerm')}}</div>
              <div class="dx-field-value">
                <select id="saleTerm" formControlName="saleTerm" [value]="saleTermValue" class="form-control" >
                  <option *ngFor="let saleTerm of enumSaleTerm"  [value]="saleTerm">{{ saleTerm }}</option>
                </select>
              </div>
            </div>
            <div class="dx-field">
              <div class="dx-field-label">{{t('vehicle.highlight')}}</div>
              <div class="dx-field-value">
                <select id="highlight" formControlName="highlights" [value]="highlightsValue" class="form-control" >
                  <option *ngFor="let highlight of enumHighlight"  [value]="highlight">{{ highlight }}</option>
                </select>
              </div> 
            </div>
          </div>
        </div>
        <dx-button class="button" [text]="t('action.save')" type="success" [useSubmitBehavior]="true"></dx-button>
        <dx-button  class="button"  [text]="t('action.back')" type="normal" [routerLink]="['/panel-vehicles']"></dx-button>
      </form>
    </ng-container>
  </div>