
<div class="text-center" *ngIf='!liveAuction'>
    <h1 class="display-4" style="font-weight: bold;">There are no current<br/> Live Auctions</h1>
</div>







<div class="text-center" *ngIf='liveAuction'>
    <ng-container *transloco="let t">
      <div class="container" >
        <div class="row">
          <div class="column1">
            <div class="card shadow-sm">
              <div class="card-header bg-transparent text-center">
               
                    <div class="dx-field">
                      <h1>{{datasource[0].id}} {{datasource[0].producer}} {{datasource[0].modelSpecifer}} {{datasource[0].modelGeneration}}</h1>
                    </div>
                    <div class="widget-container">
                      <dx-gallery #gallery id="gallery" [dataSource]="datasource[0].images" [height]="600" [slideshowDelay]="slideshowDelay"
                        [loop]="true" [showNavButtons]="true" [showIndicator]="true"></dx-gallery>
                    </div>
                
              </div>
            </div>
          </div>
     

          <div class="column2">
            <div class="card shadow-sm">
              <div class="card-header bg-transparent border-0">
                <h3 class="mb-0"><i class="far fa-clone pr-1"></i>Other Information</h3>
              </div>
              <table class="table table-bordered">
               
                <tr>
                  <th width="50%" >{{t('vehicle.modelSpecifer')}}</th>
                  <td>{{datasource[0].modelSpecifer}}</td>
                </tr>
                <tr>
                  <th width="50%" >{{t('vehicle.modelGeneration')}}</th>
                  <td>{{datasource[0].modelGeneration}}</td>
                </tr>
                <tr>
                  <th width="50%" >{{t('vehicle.registrationYear')}}</th>
                  <td>{{datasource[0].registrationYear}}</td>
                </tr>
                <tr>
                  <th width="50%" >{{t('vehicle.color')}}</th>
                  <td>{{datasource[0].color}}</td>
                </tr>
                <tr>
                  <th width="50%" >{{t('vehicle.bodyType')}}</th>
                  <td>{{datasource[0].bodyType}}</td>
                </tr>
                <tr>
                  <th width="50%" >{{t('vehicle.engineCapacity')}}</th>
                  <td>{{datasource[0].engineCapacity}}</td>
                </tr>

                <tr>
                  <th width="50%" >{{t('vehicle.engineOutput')}}</th>
                  <td>{{datasource[0].engineOutput}}</td>
                </tr>
                <tr>
                  <th width="50%" >{{t('vehicle.drive')}}</th>
                  <td>{{datasource[0].drive}}</td>
                </tr>
                <tr>
                  <th width="50%" >{{t('vehicle.engineCapacity')}}</th>
                  <td>{{datasource[0].engineCapacity}}</td>
                </tr>


                <tr>
                  <th width="50%" >{{t('vehicle.meterReadout')}}</th>
                  <td>{{datasource[0].meterReadout}}</td>
                </tr>

                <tr>
                  <th width="50%" >{{t('vehicle.fuel')}}</th>
                  <td>{{datasource[0].fuel}}</td>
                </tr>

                <tr>
                  <th width="50%" >{{t('vehicle.numberKeys')}}</th>
                  <td>{{datasource[0].numberKeys}}</td>
                </tr>

                <tr>
                  <th width="50%" >{{t('vehicle.serviceManual')}}</th>
                  <td>{{datasource[0].serviceManual}}</td>
                </tr>

                <tr>
                  <th width="50%" >{{t('vehicle.primaryDamage')}}</th>
                  <td>{{datasource[0].primaryDamage}}</td>
                </tr>

                <tr>
                  <th width="50%" >{{t('vehicle.dateTime')}}</th>
                  <td>{{datasource[0].dateTime}}</td>
                </tr>
                
              </table>
              
            </div>
          </div>


          <div class="column3">
            <div class="card shadow-sm">
              <div class="card-header bg-transparent border-0">
                <h3 class="mb-0"><i class="far fa-clone pr-1"></i>Bid Information</h3>
              </div>
              <app-scroll></app-scroll>
            </div>
          </div>

          
        </div>
      </div>
    </ng-container>
  </div>
