<div class="text-center" *ngIf='!liveAuction'>
  <ng-container *transloco="let t">
    <br/>
    <br/>
    <br/>
    <br/>
    <h1 class="display-4" style="font-weight: bold;">{{t('message.noAuction')}}</h1>
  </ng-container>
</div>

<div class="student-profile py-4" *ngIf='liveAuction'>
  <ng-container *transloco="let t">
    <div class="container1">
      <div class="row">
        <div class="column1">
          <div >
            <h1 style="font-weight: bold;">{{datasource[index].id}} {{datasource[index].producer}} {{datasource[index].modelSpecifer}} {{datasource[index].modelGeneration}}</h1>
            <h1 style="font-weight: bold; color: green;">On Live</h1>
          </div>
          <div class="widget-container">
            <dx-gallery [dataSource]="datasource[index].images" [height]="600" [slideshowDelay]="slideshowDelay"
              [loop]="true" [showNavButtons]="true" [showIndicator]="true"></dx-gallery>
          </div>
        </div>
        <div class="column2">
          <div class=" card shadow-sm">
            <div class="card-header bg-transparent border-0">
              <h3 class="mb-0">Bid Information</h3>
            </div>
            <table class="table table-bordered">
               
              <tr>
                <th width="50%" >{{t('vehicle.modelSpecifer')}}</th>
                <td>{{datasource[index].modelSpecifer}}</td>
              </tr>
              <tr>
                <th width="50%" >{{t('vehicle.modelGeneration')}}</th>
                <td>{{datasource[index].modelGeneration}}</td>
              </tr>
              <tr>
                <th width="50%" >{{t('vehicle.registrationYear')}}</th>
                <td>{{datasource[index].registrationYear}}</td>
              </tr>
              <tr>
                <th width="50%" >{{t('vehicle.color')}}</th>
                <td>{{datasource[index].color}}</td>
              </tr>
              <tr>
                <th width="50%" >{{t('vehicle.bodyType')}}</th>
                <td>{{datasource[index].bodyType}}</td>
              </tr>
              <tr>
                <th width="50%" >{{t('vehicle.engineCapacity')}}</th>
                <td>{{datasource[index].engineCapacity}}</td>
              </tr>

              <tr>
                <th width="50%" >{{t('vehicle.engineOutput')}}</th>
                <td>{{datasource[index].engineOutput}}</td>
              </tr>
              <tr>
                <th width="50%" >{{t('vehicle.drive')}}</th>
                <td>{{datasource[index].drive}}</td>
              </tr>
              <tr>
                <th width="50%" >{{t('vehicle.engineCapacity')}}</th>
                <td>{{datasource[index].engineCapacity}}</td>
              </tr>


              <tr>
                <th width="50%" >{{t('vehicle.meterReadout')}}</th>
                <td>{{datasource[index].meterReadout}}</td>
              </tr>

              <tr>
                <th width="50%" >{{t('vehicle.fuel')}}</th>
                <td>{{datasource[index].fuel}}</td>
              </tr>

              <tr>
                <th width="50%" >{{t('vehicle.numberKeys')}}</th>
                <td>{{datasource[index].numberKeys}}</td>
              </tr>

              <tr>
                <th width="50%" >{{t('vehicle.serviceManual')}}</th>
                <td>{{datasource[index].serviceManual}}</td>
              </tr>

              <tr>
                <th width="50%" >{{t('vehicle.primaryDamage')}}</th>
                <td>{{datasource[index].primaryDamage}}</td>
              </tr>

              <tr>
                <th width="50%" >{{t('vehicle.dateTime')}}</th>
                <td>{{datasource[index].dateTime}}</td>
              </tr>
            </table>

          </div>
        </div>
        <div class="column3">
          <div class=" card shadow-sm">
            <dx-bar-gauge
              id="gauge"
              [startValue]="0"
              [endValue]="100"
              [values]="[time,time,time]"
            >
              <dxo-label [indent]="30" 
                ><dxo-format type="fixedPoint" [precision]="1"></dxo-format>
              </dxo-label>
            </dx-bar-gauge>
            <table class="table table-bordered">
              <tr>
                <th width="50%" >{{t('vehicle.currentBid')}}</th>
                <td>{{datasource[index].currentBid}}</td>
              </tr>
            </table>
            <form [formGroup]="bidForm" (ngSubmit)="bidCar(bidForm.value)">
              {{t('vehicle.newBid')}}:
              <input type="number" id="bidNow" formControlName="bidNow" class="form-control" />
              <br />
              <dx-button class="button" [text]="t('vehicle.nowBid')" type="default" [useSubmitBehavior]="true">
              </dx-button>
            </form>
          </div>
          <div class="card shadow-sm">
            <div class="card-header bg-transparent border-0">
              <h3 class="mb-0">List auction</h3>
            </div>
            <app-scroll></app-scroll>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</div>