.container {
  margin: auto;
}

.card {
  background-color: #2e2e31;
  border: 1px solid white;
}

.column {
  text-align: center;
  width: 300px;
  float: left;
  padding: 20px;
}

h1 {
  font-weight: bold;
}