<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<div class="text-center">
    <a href="https://www.facebook.com/" class="fa fa-facebook" target="_blank"></a>
    <a href="https://twitter.com/" class="fa fa-twitter" target="_blank"></a>
    <a href="https://www.google.com/" class="fa fa-google" target="_blank"></a>
    <a href="https://www.linkedin.com/" class="fa fa-linkedin"target="_blank"></a>
    <a href="https://www.youtube.com/" class="fa fa-youtube" target="_blank"></a>
    <a href="https://www.instagram.com/" class="fa fa-instagram" target="_blank"></a>
</div>