<ng-container *transloco="let t">
  <div id="accordion">
    <dx-accordion [dataSource]="locations" [collapsible]="false" [multiple]="false" [animationDuration]="300"
       id="accordion-container">
      <div *dxTemplate="let location of 'title'">
        <h1>{{ location.name }}</h1>
      </div>
      <div *dxTemplate="let location of 'item'">
        <div>
          <p>
            <i class="fa fa-phone"></i>
            {{t('location.phone')}}: <b>{{ location.phone }}</b>
          </p>
          <p>
            <i class="fa fa-envelope"></i>
            {{t('location.email')}}: <b>{{ location.email }}</b>
          </p>
          <p>
            <i class="fa fa-city"></i>
            {{t('location.city')}}: <b>{{ location.city }}</b>
          </p>

          <p>
            <i class="fa fa-road"></i>
            {{t('location.street')}}: <b>{{ location.street }}</b>
          </p>
          <p>
            <i class="fa fa-inbox"></i>
            {{t('location.postalCode')}}: <b>{{ location.postalCode }}</b>
          </p>
        </div>
      </div>
    </dx-accordion>
  </div>

</ng-container>
