<ng-container *transloco="let t">
  <form [formGroup]="restartForm" (ngSubmit)="restartPassword(restartForm.value)">
      <h3>{{t('action.restart')}}</h3>
      <div class="dx-fieldset">
        <div class="dx-field">
            <div class="dx-field-label">{{t('account.password')}}</div>
            <div class="dx-field-value">
              <input type="password" id="oldPassword" formControlName="oldPassword" class="form-control" />
            </div>
          </div>

          <div class="dx-field">
            <div class="dx-field-label">{{t('account.newPassword')}}</div>
            <div class="dx-field-value">
              <input type="password" id="newPassword" formControlName="newPassword" class="form-control" />
            </div>
          </div>

          <div class="dx-field">
            <div class="dx-field-label">{{t('account.confirmNewPassword')}}</div>
            <div class="dx-field-value">
              <input type="password" id="confirmNewPassword" formControlName="confirmNewPassword" class="form-control" />
            </div>
          </div>
      </div>
      <dx-button  [text]="t('action.back')" type="normal" [routerLink]="['/profile']"></dx-button>
      <dx-button class="button" [text]="t('action.restart')" type="success" [useSubmitBehavior]="true"></dx-button>
    </form>
  </ng-container>
  
  