  <ng-container *transloco="let t">
    <form (ngSubmit)="uploadPictures(file.files)">
      <div class="dx-field">
        <div class="dx-field-label"><h3>{{t('actionVehicle.addPicture')}}</h3></div>
        <div class="dx-field-value">
          <input #file type="file" id="pictureForm" accept=".jpg,.png,.gif" text="xx" multiple/>
        </div>
      </div>
      <dx-button id="button" [text]="t('actionVehicle.add')" type="success" [useSubmitBehavior]="true"></dx-button>
    </form>
  </ng-container>
  