
<div style="margin: 40px; width: 1000px;" >
    <ng-container *transloco="let t">
        <h2>{{t('support.readMore')}}</h2>
        <h2>{{t('howToBuy.line1')}}</h2>
        <p>{{t('howToBuy.line2')}}</p>
        <p>{{t('howToBuy.line3')}}</p>
        <p>{{t('howToBuy.line4')}}</p>
        <p>{{t('howToBuy.line5')}}<a href="/vehicle">{{t('howToBuy.line6')}}</a>{{t('howToBuy.line7')}}</p>
        <p>{{t('howToBuy.line8')}}</p>
        <p>{{t('howToBuy.line9')}}</p>
        <ul>
        <li>{{t('howToBuy.line10')}}</li>
        <li>{{t('howToBuy.line11')}}</li>
        <li>{{t('howToBuy.line12')}}</li>
        <li>{{t('howToBuy.line13')}}</li>
        <li>{{t('howToBuy.line14')}}</li>
        <li>{{t('howToBuy.line15')}}</li>
        <li>{{t('howToBuy.line16')}}</li>
        </ul>
    </ng-container>
</div>