<ng-container *transloco="let t">
  <form [formGroup]="editForm" (ngSubmit)="editProfile(editForm.value)" enctype="multipart/form-data">
    <h3>{{t('action.editProfile')}}</h3>
      <div class="dx-fieldset">
        <div class="dx-field">
            <div class="dx-field-label">{{t('account.name')}}</div>
            <div class="dx-field-value">
              <input type="text" id="name" formControlName="name" [value]="nameValue" class="form-control"/>
            </div> 
          </div>
          <div class="dx-field">
            <div class="dx-field-label">{{t('account.sureName')}}</div>
            <div class="dx-field-value">
              <input type="text" id="sureName" formControlName="sureName" [value]="sureNameValue" class="form-control" />
            </div>
          </div>
          <div class="dx-field">
            <div class="dx-field-label">{{t('account.phone')}}</div>
            <div class="dx-field-value">
              <input type="text" id="phone" formControlName="phone" [value]="phoneValue" class="form-control" />
            </div>
          </div>
          <div class="dx-field">
            <div class="dx-field-label">{{t('account.nationality')}}</div>
            <div class="dx-field-value">
              <input type="text" id="nationality" formControlName="nationality" [value]="nationalityValue" class="form-control" />
            </div>
          </div>
          <div class="dx-field">
            <div class="dx-field">
              <div class="dx-field-label">{{t('account.dateOfBirth')}}</div>
              <div class="dx-field-value"> 
                <input type="date" id="dateOfBirth" formControlName="dateOfBirth" [value]="dateOfBirthValue" start class="form-control" />
                <div *ngIf="editForm.controls['dateOfBirth'].invalid && (editForm.controls['dateOfBirth'].errors?.['required'] || editForm.controls['dateOfBirth'].errors?.['maxDate'])">
                  <div *ngIf="editForm.controls['dateOfBirth'].errors?.['maxDate']">
                    {{t('notification.maxDate')}}
                  </div>
                </div>
              </div>
            </div>
          </div>
      </div>
      <dx-button  [text]="t('action.back')" type="normal" [routerLink]="['/profile']"></dx-button>
      <dx-button class="button" [text]="t('action.save')" type="success" [useSubmitBehavior]="true"></dx-button>
    </form>
  </ng-container>
  
  