@use "./src/styles/variables"as vars with ($dx-theme: 'dark');

@media (prefers-color-scheme: dark) {
  :host {
    background-color: darken(vars.$base-bg, 3%);
  }

  a,
  a:active {
    color: vars.$base-text-color;
  }
}
