.container1{
  margin-left: 50px;
}
.button {
  float: right;
}

.column1 {
  width: 800px;
  float: left;
  padding: 40px;
}

.column2 {
  width: 450px;
  float: left;
  padding: 40px;
}


.column3 {
  width: 350px;
  float: left;
  padding: 40px;
}