<div class="container">
  <div class="column1">
    <div class="dx-field">
      <h1>{{datasource.producer}} {{datasource.modelSpecifer}} {{datasource.modelGeneration}}</h1>
    </div>
    <div class="widget-container">
      <dx-gallery #gallery id="gallery" [dataSource]="pictures" [height]="300" [slideshowDelay]="slideshowDelay"
        [loop]="true" [showNavButtons]="true" [showIndicator]="true"></dx-gallery>
    </div>
  </div>



  <div class="column23">
    <div class="dx-field"></div>
    <div class="dx-field"></div>
    <div class="dx-field">
      <div class="dx-field-label">Producer</div>
      <div class="dx-field-value">
        <p>{{datasource.producer}}</p>
      </div>
    </div>


    <div class="dx-field">
      <div class="dx-field-label">ModelSpecifer</div>
      <div class="dx-field-value">
        <p>{{datasource.modelSpecifer}}</p>
      </div>
    </div>


    <div class="dx-field">
      <div class="dx-field-label">ModelGeneration</div>
      <div class="dx-field-value">
        <p>{{datasource.modelGeneration}}</p>
      </div>
    </div>

    <div class="dx-field">
      <div class="dx-field-label">RegistrationYear</div>
      <div class="dx-field-value">
        <p>{{datasource.registrationYear}}</p>
      </div>
    </div>


    <div class="dx-field">
      <div class="dx-field-label">Color</div>
      <div class="dx-field-value">
        <p>{{datasource.color}}</p>
      </div>
    </div>




    <div class="dx-field">
      <div class="dx-field-label">BodyType</div>
      <div class="dx-field-value">
        <p>{{datasource.bodyType}}</p>
      </div>
    </div>

    <div class="dx-field">
      <div class="dx-field-label">EngineCapacity</div>
      <div class="dx-field-value">
        <p>{{datasource.engineCapacity}}</p>
      </div>
    </div>


    <div class="dx-field">
      <div class="dx-field-label">EngineOutput</div>
      <div class="dx-field-value">
        <p>{{datasource.engineOutput}}</p>
      </div>
    </div>


    <div class="dx-field">
      <div class="dx-field-label">Transmission</div>
      <div class="dx-field-value">
        <p>{{datasource.transmission}}</p>
      </div>
    </div>
    <div class="dx-field">
      <div class="dx-field-label">Drive</div>
      <div class="dx-field-value">
        <p>{{datasource.drive}}</p>
      </div>
    </div>
  </div>

  <div class="column23">
    <div class="dx-field"></div>
    <div class="dx-field"></div>
    <div class="dx-field">
      <div class="dx-field-label">MeterReadout</div>
      <div class="dx-field-value">
        <p>{{datasource.meterReadout}}</p>
      </div>
    </div>
    <div class="dx-field">
      <div class="dx-field-label">Fuel</div>
      <div class="dx-field-value">
        <p>{{datasource.fuel}}</p>
      </div>
    </div>

    <div class="dx-field">
      <div class="dx-field-label">NumberKeys</div>
      <div class="dx-field-value">
        <p>{{datasource.numberKeys}}</p>
      </div>
    </div>

    <div class="dx-field">
      <div class="dx-field-label">ServiceManual</div>
      <div class="dx-field-value">
        <p>{{datasource.serviceManual}}</p>
      </div>
    </div>
    <div class="dx-field">
      <div class="dx-field-label">SecondTireSet</div>
      <div class="dx-field-value">
        <p>{{datasource.secondTireSet}}</p>
      </div>
    </div>

    <div class="dx-field">
      <div class="dx-field-label">PrimaryDamage</div>
      <div class="dx-field-value">
        <p>{{datasource.primaryDamage}}</p>
      </div>
    </div>


    <div class="dx-field">
      <div class="dx-field-label">DateTime</div>
      <div class="dx-field-value">
        <p>{{datasource.dateTime}}</p>
      </div>
    </div>

    <div class="dx-field">
      <div class="dx-field-label">CurrentBid</div>
      <div class="dx-field-value">
        <p>{{datasource.currentBid}}</p>
      </div>
    </div>
  </div>
</div>
