<ng-container *transloco="let t">
  <div class="container">
    <div class="column1">
      <div class="dx-field">
        <h1>{{datasource.producer}} {{datasource.modelSpecifer}} {{datasource.modelGeneration}}</h1>
      </div>
      <div class="widget-container">
        <dx-gallery #gallery id="gallery" [dataSource]="pictures" [height]="600" [slideshowDelay]="slideshowDelay"
          [loop]="true" [showNavButtons]="true" [showIndicator]="true"></dx-gallery>
      </div>
    </div>



    <div class="column23">
      <table>
        <br />
        <br />
        <br />
        <br />
        <tr>
          <th style="width:60%"></th>
          <th></th>
        </tr>
        <tr>
          <td>Id:</td>
          <td>{{datasource.id}}</td>
        </tr>
        <tr>
          <td>{{t('vehicle.modelSpecifer')}}:</td>
          <td>{{datasource.modelSpecifer}}</td>
        </tr>
        <tr>
          <td>{{t('vehicle.modelGeneration')}}:</td>
          <td>{{datasource.modelGeneration}}</td>
        </tr>
        <tr>
          <td>{{t('vehicle.registrationYear')}}:</td>
          <td>{{datasource.registrationYear}}</td>
        </tr>
        <tr>
          <td>{{t('vehicle.color')}}:</td>
          <td>{{datasource.color}}</td>
        </tr>
        <tr>
          <td>{{t('vehicle.bodyType')}}:</td>
          <td>{{datasource.bodyType}}</td>
        </tr>
        <tr>
          <td>{{t('vehicle.engineCapacity')}}:</td>
          <td>{{datasource.engineCapacity}}</td>
        </tr>
        <tr>
          <td>{{t('vehicle.engineOutput')}}:</td>
          <td>{{datasource.engineOutput}}</td>
        </tr>
        <tr>
          <td>{{t('vehicle.transmission')}}:</td>
          <td>{{datasource.transmission}}</td>
        </tr>
        <tr>
          <td>{{t('vehicle.drive')}}:</td>
          <td>{{datasource.drive}}</td>
        </tr>
        <tr>
          <td>{{t('vehicle.meterReadout')}}:</td>
          <td>{{datasource.meterReadout}}</td>
        </tr>
        <tr>
          <td>{{t('vehicle.fuel')}}:</td>
          <td>{{datasource.fuel}}</td>
        </tr>
        <tr>
          <td>{{t('vehicle.numberKeys')}}:</td>
          <td>{{datasource.numberKeys}}</td>
        </tr>
        <tr>
          <td>{{t('vehicle.serviceManual')}}:</td>
          <td>{{datasource.serviceManual}}</td>
        </tr>

        <tr>
          <td>{{t('vehicle.secondTireSet')}}:</td>
          <td>{{datasource.secondTireSet}}</td>
        </tr>
        <tr>
          <td>{{t('vehicle.primaryDamage')}}:</td>
          <td>{{datasource.primaryDamage}}</td>
        </tr>
        <tr>
          <td>{{t('vehicle.dateTime')}}:</td>
          <td>{{datasource.dateTime}}</td>
        </tr>

      </table>
    </div>

    <div class="column23">


      <table>
        <br />
        <br />
        <br />
        <br />
        <tr>
          <th style="width:60%"></th>
          <th></th>
        </tr>
        <tr>
          <td>{{t('vehicle.currentBid')}}:</td>
          <td>{{datasource.currentBid}}</td>
        </tr>
      </table>
      <br />
      <form [formGroup]="bidForm" (ngSubmit)="bidCar(bidForm.value)">
        {{t('vehicle.newBid')}}:
        <input type="number" id="bidNow" formControlName="bidNow" class="form-control" />
        <br />
        <br />
        <dx-button width="75%" id="button" [text]="t('vehicle.nowBid')" type="default" [useSubmitBehavior]="true">
        </dx-button>
      </form>
    </div>

  </div>

</ng-container>
