#gridContainer {
    height: 750px;
  }

.center{
  width: 95%;
  margin: auto;
}
  
  input,select {
    width: 70%;
    padding: 10px 20px;
    margin: 5px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  form {
    width: 90%;
    margin: 50px;
  }
  

  .button {
    margin-top: 30px;
    width: 20%;
    margin-right: 20px;
    float: right;
  }
  
  .column {
    float: left;
    width: 50%;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  