<ng-container *transloco="let t">
    <form [formGroup]="addForm" (ngSubmit)="addAuction(addForm.value)" enctype="multipart/form-data">
      <h3>{{t('action.addAuction')}}</h3>
        <div class="dx-fieldset">
          <div class="dx-field">
              <div class="dx-field-label">{{t('auction.location')}}</div>
              <div class="dx-field-value">
                <input type="text" id="location" formControlName="location" class="form-control"/>
              </div> 
            </div>
            <div class="dx-field">
              <div class="dx-field-label">{{t('auction.description')}}</div>
              <div class="dx-field-value">
                <input type="text" id="description" formControlName="description" class="form-control" />
              </div>
            </div>
            <div class="dx-field">
              <div class="dx-field-label">{{t('auction.dateTime')}}</div>
              <div class="dx-field-value">
                <input type="date" id="auctionDate" formControlName="auctionDate" class="form-control" />
              </div>
          </div>
          <div class="error" *ngIf="errorMessage">{{errorMessage}}</div>
        </div>
        <dx-validation-summary id="summary"></dx-validation-summary>
        <dx-button  [text]="t('action.back')" type="normal" [routerLink]="['/auction/panel']"></dx-button>
        <dx-button class="button" [text]="t('action.add')" type="success" [useSubmitBehavior]="true"></dx-button>
      </form>
    </ng-container>
    
    