<div>
  <ng-container *transloco="let t">
    <div class="container1">
      <div class="row">
        <div class="column1">
          <div class="dx-field" style="float: left;">
            <h1>{{datasource.id}} {{datasource.producer}} {{datasource.modelSpecifer}} {{datasource.modelGeneration}}
            </h1>
          </div>
          <div *ngIf="isUserAuthenticated" class="dx-field">
            <dx-button *ngIf="!watchLot" class="watch" (onClick)="this.watch()"><a><span
                  style="color: yellow;">★</span>{{t('action.watch')}}</a></dx-button>
            <dx-button *ngIf="watchLot" class="watch"
              (onClick)="removeWatch()"><a>★{{t('action.removeWatch')}}</a></dx-button>
          </div>
          <div class="widget-container">
            <dx-gallery [dataSource]="datasource.images" [loop]="true" [showNavButtons]="true" [showIndicator]="true">
              <div *dxTemplate="let i of 'item'">
                <div>
                  <img height="450" src="assets\picture\{{datasource.producer}}-{{datasource.modelSpecifer}}-{{datasource.modelGeneration}}-{{datasource.registrationYear}}\{{i}}">
                </div>
              </div>
            </dx-gallery>
          </div>
        </div>
        <div class="column2">
          <div class="shadow-sm">
            <div class="card-header bg-transparent border-0">
              <h3 class="mb-0">{{t('vehicle.generalInformation')}}</h3>
            </div>
            <div class="card-body pt-0">
              <table class="table table-bordered">
                <tr>
                  <th width="50%">{{t('vehicle.modelSpecifer')}}</th>
                  <td>{{datasource.modelSpecifer}}</td>
                </tr>
                <tr>
                  <th width="50%">{{t('vehicle.modelGeneration')}}</th>
                  <td>{{datasource.modelGeneration}}</td>
                </tr>
                <tr>
                  <th width="50%">{{t('vehicle.registrationYear')}}</th>
                  <td>{{datasource.registrationYear}}</td>
                </tr>
                <tr>
                  <th width="50%">{{t('vehicle.color')}}</th>
                  <td>{{datasource.color}}</td>
                </tr>
                <tr>
                  <th width="50%">{{t('vehicle.bodyType')}}</th>
                  <td>{{datasource.bodyType}}</td>
                </tr>
                <tr>
                  <th width="50%">{{t('vehicle.engineCapacity')}}</th>
                  <td>{{datasource.engineCapacity}}</td>
                </tr>
                <tr>
                  <th width="50%">{{t('vehicle.engineOutput')}}</th>
                  <td>{{datasource.engineOutput}}</td>
                </tr>
                <tr>
                  <th width="50%">{{t('vehicle.drive')}}</th>
                  <td>{{datasource.drive}}</td>
                </tr>
                <tr>
                  <th width="50%">{{t('vehicle.engineCapacity')}}</th>
                  <td>{{datasource.engineCapacity}}</td>
                </tr>
                <tr>
                  <th width="50%">{{t('vehicle.meterReadout')}}</th>
                  <td>{{datasource.meterReadout}}</td>
                </tr>
                <tr>
                  <th width="50%">{{t('vehicle.fuel')}}</th>
                  <td>{{datasource.fuel}}</td>
                </tr>
                <tr>
                  <th width="50%">{{t('vehicle.numberKeys')}}</th>
                  <td>{{datasource.numberKeys}}</td>
                </tr>
                <tr>
                  <th width="50%">{{t('vehicle.serviceManual')}}</th>
                  <td>{{datasource.serviceManual}}</td>
                </tr>
                <tr>
                  <th width="50%">{{t('vehicle.primaryDamage')}}</th>
                  <td>{{datasource.primaryDamage}}</td>
                </tr>
                <tr>
                  <th width="50%">{{t('vehicle.dateTime')}}</th>
                  <td>{{datasource.dateTime | date:'dd/MM/yyyy'}}</td>
                </tr>
              </table>
            </div>
          </div>
        </div>
        <div class="column3">
          <div class="shadow-sm">
            <div class="card-header bg-transparent border-0">
              <h3 class="mb-0">{{t('vehicle.bidInformation')}}</h3>
            </div>

            <div *ngIf="watchDto.userId">
              
              <div *ngIf="!auctionEnd">
              
                <div class="card-body pt-0" *ngIf="!datasource.waitingForConfirm">
                  <table class="table table-bordered">
                    <tr>
                      <th width="50%">{{t('vehicle.currentBid')}}</th>
                      <td>{{datasource.currentBid}}</td>
                    </tr>
                  </table>
                  <form [formGroup]="bidForm" (ngSubmit)="bidCar(bidForm.value)">
                    {{t('vehicle.newBid')}}:
                    <input type="number" id="bidNow" min="0" formControlName="bidNow" class="form-control" />
                    <br />
                    <dx-button class="button" [text]="t('vehicle.nowBid')" type="default" [useSubmitBehavior]="true"></dx-button>
                  </form>
                  <br />
                  <br />
                  <br />
                  <br />
                  <br />
                  <br />

                  <div class="dx-field">
                    <dx-button (onClick)="this.contact()" [text]="t('action.contact')"></dx-button>
                  </div>

                  <div class="dx-field">
                    <dx-button (onClick)="this.opinion()" [text]="t('action.checkOpinion')"></dx-button>
                  </div>
                </div>
                <div class="card-header bg-transparent border-0" *ngIf="datasource.waitingForConfirm">
                  <h3 class="mb-0" style="color: orangered;">Waiting For Confirm</h3>
                </div>
    
                <div class="card-header bg-transparent border-0" *ngIf="auctionEnd">
                  <h3 class="mb-0" style="color: red;">Sales End</h3>
                </div>
              </div>

            </div>

            

            <div class="card-body pt-0" *ngIf="!watchDto.userId">
              Login do bid
              <button  class="btn btn-primary" id="button" type="default" [routerLink]="'/account/login'">
                {{t('account.login')}}
              </button>
            </div>
          </div>




        </div>
      </div>
    </div>
  </ng-container>
</div>