<ng-container *transloco="let t">
    <form [formGroup]="editForm" (ngSubmit)="editAuction(editForm.value)" enctype="multipart/form-data">
      <h3>{{t('action.editAuction')}}</h3>
        <div class="dx-fieldset">
          <div class="dx-field">
              <div class="dx-field-label">{{t('auction.location')}}</div>
              <div class="dx-field-value">
                <input type="text" id="location" formControlName="location" class="form-control"/>
              </div> 
            </div>
            <div class="dx-field">
              <div class="dx-field-label">{{t('auction.description')}}</div>
              <div class="dx-field-value">
                <input type="text" id="description" formControlName="description" class="form-control" />
              </div>
            </div>
            <div class="dx-field">
              <div class="dx-field-label">{{t('auction.dateTime')}}</div>
              <div class="dx-field-value">
                <input type="date" id="auctionDate" formControlName="auctionDate" class="form-control" />
              </div>
          </div>
        </div>
        <dx-button  [text]="t('action.back')" type="normal" [routerLink]="['/auction/panel']"></dx-button>
        <dx-button class="button" [text]="t('action.save')" type="success" [useSubmitBehavior]="true"></dx-button>
      </form>
    </ng-container>
    
    