<ng-container *transloco="let t">
  <form [formGroup]="eventForm" (ngSubmit)="addEvent(eventForm.value)" enctype="multipart/form-data">
    <h3>{{t('action.editEvent')}}</h3>
      <div class="dx-fieldset">
          <div class="dx-field">
            <div class="dx-field-label">{{t('calendar.title')}}</div>
            <div class="dx-field-value">
              <input type="text" id="title" formControlName="title" [value]="titleValue" class="form-control" />
            </div>
          </div>
          <div class="dx-field">
            <div class="dx-field-label">{{t('calendar.description')}}</div>
            <div class="dx-field-value">
              <input type="text" id="description" formControlName="description" [value]="descriptionValue" class="form-control" />
            </div>
          </div>
          <div class="dx-field">
            <div class="dx-field-label">{{t('calendar.date')}}</div>
            <div class="dx-field-value">
              <input type="date" id="date" formControlName="date" [value]="dateValue" class="form-control" />
            </div>
        </div>
          <div class="dx-field">
            <div class="dx-field-label">{{t('calendar.color')}}</div>
            <div class="dx-field-value">
              <dx-color-box id="color" formControlName="color" [value]="colorValue" class="form-control" ></dx-color-box>
            </div>
          </div>
          <div class="dx-field">
            <div class="dx-field-label">{{t('calendar.allDay')}}</div>
            <div class="dx-field-value">
              <select id="allDay" formControlName="allDay" [value]="allDayValue" class="form-control">
                  <option value="true">True</option>
                  <option value="false">False</option>
              </select>
            </div>
          </div>
      </div>
      <dx-button  [text]="t('action.back')" type="normal" [routerLink]="['/calendar/manage']"></dx-button>
      <dx-button class="button" [text]="t('action.save')" type="success" [useSubmitBehavior]="true"></dx-button>
    </form>
  </ng-container>
  
  