<ng-container *transloco="let t">
  <form [formGroup]="editForm" (ngSubmit)="editProfile(editForm.value)" enctype="multipart/form-data">
    <h3>Profile Edit</h3>
      <div class="dx-fieldset">
        <div class="dx-field">
            <div class="dx-field-label">{{t('account.firstName')}}</div>
            <div class="dx-field-value">
              <input type="text" id="firstName" formControlName="firstName" class="form-control" />
            </div>
          </div>
          <div class="dx-field">
            <div class="dx-field-label">{{t('account.lastName')}}</div>
            <div class="dx-field-value">
              <input type="text" id="lastName" formControlName="lastName" class="form-control" />
            </div>
          </div>
          <div class="dx-field">
            <div class="dx-field-label">{{t('account.nationality')}}</div>
            <div class="dx-field-value">
              <input type="text" id="nationality" formControlName="nationality" class="form-control" />
            </div>
          </div>
      </div>
      <dx-button class="button" [text]="t('action.edit')" type="success" [useSubmitBehavior]="true"></dx-button>
    </form>
  </ng-container>
  
  